/* ----------------------------------------------------------------------
    PC 예외처리
----------------------------------------------------------------------- */
#header {
    width: 100%;
}

.beulraegodeo3-jumungwanri-peiji .flex-row>.btn-notice,
#m-bottom-menu,
.my-wrap .m-txt1,
.login-wrap .login,
.login-wrap .find,
.my-wrap .m-txt2 {
    display: none;
}

.set1-wrap .mainContents > :nth-child(1),
.set2-wrap .mainContents > :nth-child(1) {
    display: block;
    width:100%;
    height: auto;
}

.set1-wrap .mainContents > :nth-child(1) > :nth-child(1),
.set2-wrap .mainContents > :nth-child(1) > :nth-child(1) {
    display: block;
    width: 100%;
    height:auto;
    margin: 0;
    border-radius: 0;
}

/* ----------------------------------------------------------------------
    공통
----------------------------------------------------------------------- */
#m-top-current {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - -28px);
    height: 60px;
    margin:20px -14px 0;
    border-bottom:1px solid #dadada;
    background-color:#fff;
}
#m-top-current button {
    position: absolute;
    top:50%;
    border:none;
    background-color: transparent;
}

#m-top-current .btn-prev {
    left:15px;
    margin-top:-10px;
}

#m-top-current .btn-add {
    right:15px;
    margin-top:-15px;
}

#m-top-current .title {
    color:#444;
    font-size: 16px;
    font-weight: 700;
}


/* ----------------------------------------------------------------------
    설정1
----------------------------------------------------------------------- */

.set1-wrap .mainContents .menu ul {
    border-radius: 10px !important;
}
.set1-wrap .mainContents .menu ul li {
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
}
.set1-wrap .mainContents .menu ul li:last-child {
    border-bottom:none;
}
.set1-wrap .mainContents .menu ul li a {
    display: flex;
    align-items: center;
    height:60px;
    position: relative;
    padding:0 45px;
    color:#000;
    font-size: 14px;
}
.set1-wrap .mainContents .menu ul li a::after {
    content:'';
    display:block;
    position:absolute;
    top:calc(50% - 10px);
    right:45px;
    width:20px;
    height:20px;
    background:url(../img/icon-right.svg) no-repeat center / 20px;
}
.set1-wrap .mainContents .menu ul li.no-arrow a::after {
    display: none;
}
.set1-wrap .mainContents .menu ul li.version {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    padding:0 45px;
}


/* ----------------------------------------------------------------------
    설정2
----------------------------------------------------------------------- */

.set2-wrap .mainContents .mall-list ul {
    border-radius: 10px !important;
}

.set2-wrap .mainContents .mall-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:0 45px;
}


@media only screen and (max-width: 768px) {

    /* ----------------------------------------------------------------------
        공통
    ----------------------------------------------------------------------- */
    html, body {
        height: 100%;
    }

    body {
        background-color: var(--black);
    }

    .container-center-horizontal {
        flex-direction: column;
        min-width: 320px;
        max-width: 768px;
        margin: 0 auto;
        justify-content: flex-start;
        height: 100%;
    } 
    .beulraegodeo3-jumungwanri-peiji {
        height: 100%;
        padding:0;
    }
    .beulraegodeo3-jumungwanri-peiji .flex-row-2 {
        display: none;
    }

    .mainContents > :nth-child(1) {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }

    #m-top-current {
        width: 100%;
        margin: 0;
    }

    #m-top-current .btn-prev {
        left:30px;
    }
    
    #m-top-current .btn-add {
        right:30px;
    }

    #m-bottom-menu {
        display: block;
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        background-color: #fff;
        border-top:1px solid #000;
    }
    #m-bottom-menu ul {
        display:flex;
        align-items: center;
    }
    #m-bottom-menu ul li {
        flex:1;
        height: 84px;
    }

    #m-bottom-menu ul li a {
        display: flex  ;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding-top:36px;
        background-repeat: no-repeat;
        background-position: center 20px;
        background-size: 25px;
        text-align: center;
        font-size: 13px;
        color:#000;
    }

    #m-bottom-menu ul li a:hover {
        background-color: #f1f1f1;
        font-weight: 700;
    }

    #m-bottom-menu ul li.home a {
        background-image:url('../img/icon-home.svg');
    }
    #m-bottom-menu ul li.order a {
        background-image:url('../img/icon-order.svg');
    }
    #m-bottom-menu ul li.my a {
        background-image:url('../img/icon-my.svg');
    }
    #m-bottom-menu ul li.set a {
        background-image:url('../img/icon-set.svg');
    }

    /* ----------------------------------------------------------------------
        헤더
    ----------------------------------------------------------------------- */
    .beulraegodeo3-jumungwanri-peiji .flex-row {
        flex:0 0 auto;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        margin-top: 20px;
        padding:0 20px;
    }

    .beulraegodeo3-jumungwanri-peiji .surname {
        min-width: auto;
        min-height: auto;
    }

    .beulraegodeo3-jumungwanri-peiji .flex-row>div,
    .beulraegodeo3-jumungwanri-peiji .flex-row>a {
        display: none;
    }

    .beulraegodeo3-jumungwanri-peiji .flex-row>.logo {
        display: block;
    }

    .beulraegodeo3-jumungwanri-peiji .flex-row>.logo>div {
        min-width: auto;
        min-height: auto;
        font-size: 28px;
    }

    .beulraegodeo3-jumungwanri-peiji .flex-row>.btn-notice {
        display: block;
        background: url('./img/icon-notice.svg') no-repeat;
    }

    .beulraegodeo3-jumungwanri-peiji .flex-row>.btn-notice img {
        width: 25px;
    }

    


    /* ----------------------------------------------------------------------
        본문
    ----------------------------------------------------------------------- */
    .mainContents {
        flex-grow: 1;
        width:100%;
        height:auto;
        margin:0;
        padding:0 20px 120px;
        border-radius: 0;
    }

    /* ----------------------------------------------------------------------
        로그인
    ----------------------------------------------------------------------- */
    .login-wrap {
        min-width:320px;
        max-width: 480px;
        margin:0 auto;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji {
        padding:0;
    }
    .beulraegodeo1-rogeuin-peiji .surname {
        display:flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding:0 20px;
        height: 70px;
        font-size: 28px;
        text-align: left;
    }
    .login-wrap .login {
        display:block;
        width:100%;
        margin-top:75px;
        font-size:28px;
        font-weight:700;
        text-align: center;
        color:#fff;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .overlap-group {
        width: 100%;
        margin:65px auto 0;
        padding:0 85px;
        background-color:transparent;
        border:none;
        box-shadow: none;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .text-10,
    .login-wrap .beulraegodeo1-rogeuin-peiji .text-11 {
        margin-left:0;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .line-1,
    .login-wrap .beulraegodeo1-rogeuin-peiji .line-2 {
        width:100%;
        background-color:transparent;
        color:#fff;
    }
    .login-wrap .x1-1,
    .login-wrap .x12-1 {
        display:none;
    }
    .login-wrap .screen a {
        display:block;
        width:100%;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .overlap-group1 {
        display:block;
        margin:65px 0 0;
        padding:0;
        width:100%;
        min-width: 100%;
        height:30px;
        background-color:#fff;
        border-radius: 0;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .text-14 {
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
        margin:0;
        min-height:100%;
        text-align:center;
        color:#000;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .flex-row {
        display:block;
        position: relative;
        margin-top:12px;
        min-width: 100%;
    }
    .login-wrap .flex-row > a {
        height:30px;
        border:1px solid #bcbcbc;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .text-12 {
        display:none;
    }
    .login-wrap .beulraegodeo1-rogeuin-peiji .text-13 {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin:0;
        padding:0;
        min-height:100%;
        font-size:14px;
    }
    .login-wrap .find {
        display:flex;
        margin-top:20px;
    }
    .login-wrap .find > a {
        display:flex;
        justify-content: center;
        align-items: center;
        flex:1;
        border:1px solid #bcbcbc;
        height:30px;
        color: var(--suva-gray);
    }
    .login-wrap .find > a:first-child {
        margin-right:8px;
    }


    /* ----------------------------------------------------------------------
        회원가입
    ----------------------------------------------------------------------- */
    .join-wrap {
        min-width: 320px;
        max-width: 480px;
        margin: 0 auto;
    }

    .join-wrap .beulraegodeo1-1-hoeweongaib-peiji {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .join-wrap .beulraegodeo1-1-hoeweongaib-peiji .title {
        display:flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding:0 20px;
        height: 70px;
        font-size: 28px;
        text-align: left;
    }

    .join-wrap .join {
        display: block;
        width: 100%;
        margin-top: 75px;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        color: #fff;
    }

    .join-wrap .beulraegodeo1-1-hoeweongaib-peiji .overlap-group1 {
        width: 100%;
        margin: 65px auto 0;
        padding: 0 85px;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .join-wrap .x1-1,
    .join-wrap .x12 {
        display: none;
    }

    .join-wrap .overlap-group1>div {
        width: 100%;
    }

    .join-wrap .overlap-group1 input {
        width: 100%;
        background-color: transparent;
        color: #fff;
    }

    .join-wrap .overlap-group1 button[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: 30px !important;
        margin: 65px 0 0 !important;
        border-radius: 0 !important;
        background-color: #fff !important;
        text-align: center;
        color: #000;
        font-size: 14px;
    }

    /* ----------------------------------------------------------------------
        마이
    ----------------------------------------------------------------------- */
    .my-wrap .mainContents {
        padding: 0 50px 120px;
    }
    .my-wrap .mainContents > :nth-child(1) {
        margin-top: 20px;
    }
    .my-wrap .mainContents > :nth-child(1) > :nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width:104px;
        height:104px;
        margin: 0 auto;
        background-color: transparent;
        border:1px solid #fff;
    }
    .my-wrap .mainContents > :nth-child(1) > :nth-child(1) > img {
        margin:0;
    }
    .my-wrap .mainContents > :nth-child(1) > :nth-child(2) {
        display: none;
    }

    .my-wrap .mainContents > :nth-child(2) {
        display: none;
    }

    .my-wrap .mainContents > .frm {
        width: 100%;
        margin:30px 0 0;
    }

    .my-wrap .mainContents > .frm > div {
        height:28px;
    }

    .my-wrap .mainContents > .frm > div + div {
        margin-top:13px;
    }

    .my-wrap .mainContents > .frm > div > :nth-child(1) {
        flex: 0 0 auto;
        width: 90px;
        font-size:13px;
    }

    .my-wrap .mainContents > .frm > div > :nth-child(2) {
        width: 100%;
        height: auto;
        margin-left:0;
        font-size: 13px;
    }

    .my-wrap .mainContents > .frm > div > input:nth-child(2) {
        display:none;
        padding: 0;
        border:none;
        pointer-events: none;
        cursor: text;
    }

    .my-wrap .mainContents > .frm > :nth-child(2) {
        display: none;
    }

    .my-wrap .mainContents > .frm > button {
        display: none;
    }

    .my-wrap .m-txt1 {
        display: block;
        margin-top: 30px;
        color:#fff;
        font-size: 13px;
        line-height:1.4;
    }
    .my-wrap .m-txt2 {
        display: block;
        font-size: 13px;
        color:#fff;
    }


    /* ----------------------------------------------------------------------
        설정1
    ----------------------------------------------------------------------- */
    .set1-wrap .mainContents {
        padding:0;
        background-color:#fff;
    }
    .set1-wrap .mainContents .menu ul li {
        border-bottom: 1px solid #d9d9d9;
    }
    .set1-wrap .mainContents .menu ul li:last-child {
        border-bottom: 1px solid #d9d9d9;
    }
    .set1-wrap .mainContents .menu ul li a {
        display: flex;
        align-items: center;
        height:60px;
        position: relative;
        padding:0 45px;
        color:#000;
    }
    .set1-wrap .mainContents .menu ul li a::after {
        content:'';
        display:block;
        position:absolute;
        top:calc(50% - 10px);
        right:45px;
        width:20px;
        height:20px;
        background:url(../img/icon-right.svg) no-repeat center / 20px;
    }
    .set1-wrap .mainContents .menu ul li.no-arrow a::after {
        display: none;
    }
    .set1-wrap .mainContents .menu ul li.version {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:60px;
        padding:0 45px;
    }

    /* ----------------------------------------------------------------------
        설정2
    ----------------------------------------------------------------------- */
    .set2-wrap .mainContents {
        padding:0;
        background-color: #fff;
    }


    /* ----------------------------------------------------------------------
        알람
    ----------------------------------------------------------------------- */
    .setAlarm-wrap .mainContents {
        padding: 0;
        background-color: #fff;
    }
    .setAlarm-wrap .mainContents > :nth-child(1),
    .setAlarm-wrap .mainContents > :nth-child(2) {
        display: none;
    }
    .setAlarm-wrap .mainContents > :nth-child(3) {
        display: block;
        height: auto;
    }
    .setAlarm-wrap .mainContents > :nth-child(3) > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height:60px;
        margin: 0;
        padding: 0 45px;
    }
    .setAlarm-wrap .mainContents > :nth-child(3) > div > p {
        font-size: 13px;
        color:#444;
    }

    /* ----------------------------------------------------------------------
        주문관리
    ----------------------------------------------------------------------- */
    .beulraegodeo3-jumungwanri-peiji .flex-row-1,
    .beulraegodeo3-jumungwanri-peiji .overlap-group {
        display: none;
    }
    .orderAdm-wrap .mainContents {
        border-top:1px solid #acacac;
    }
    .orderAdm-wrap .order-title {
        margin-top: 20px;
        font-size:18px;
        font-weight: 700;
        color:#fff;
    }
    .orderAdm-wrap .order-list {
        margin-top: 20px;
    }
    .orderAdm-wrap .order-list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
    .orderAdm-wrap .order-list li + li {
        margin-top: 20px;
    }
    .orderAdm-wrap .order-list li .data {
        display:flex;
        flex-grow: 1;
        margin-left:20px;
    }
    .orderAdm-wrap .order-list li .data dl {
        flex:1;
        text-align: center;
    }
    .orderAdm-wrap .order-list li .data dl dt {
        font-size: 12px;
        color:#444;
    }
    .orderAdm-wrap .order-list li .data dl dd {
        margin-top:15px;
        font-size: 14px;
    }
}



@media only screen and (max-width: 480px) {
    /* ----------------------------------------------------------------------
        회원가입
    ----------------------------------------------------------------------- */
    .join-wrap .beulraegodeo1-1-hoeweongaib-peiji .overlap-group1 {
        padding:0 60px;
    }

    /* ----------------------------------------------------------------------
        로그인
    ----------------------------------------------------------------------- */
    .login-wrap .beulraegodeo1-rogeuin-peiji .overlap-group {
        padding:0 60px;
    }
}