@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.42;
    color: #000;
}

/* 접근성 */
.a11y {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}


/* ----------------------------------------------------------------------
    폼
----------------------------------------------------------------------- */
/* input */
.input-wrap {
    position: relative;
    width: 100%;
}

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'] {
    width: 100%;
    height: 48px;
    padding: 0 12px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 1;
}

/* select */
.select-wrap {
    position: relative;
    width: 100%;
}

select {
    width: 100%;
    height: 52px;
    padding: 0 14px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    border-radius: 0;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    border-radius: 8px;
}

/* textarea */
textarea {
    display: block;
    width: 100%;
    padding: 25px;
    background-color: transparent;
    border: 1px solid #c4c4c4;
    color: #000;
    border-radius: 3px;
}

/* button */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-wrap {
    position: relative;
    text-align: center;
}

.btn-wrap.left {
    text-align: left;
}

.btn-wrap.right {
    text-align: right;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 69px;
    padding: 0 46px;
    background-color: #4047C1;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.btn-lg {
    min-width: 230px;
    min-height: 107px;
    font-size: 36px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group .btn+.btn {
    margin-left: 32px;
}


/* ----------------------------------------------------------------------
    페이지 공통
----------------------------------------------------------------------- */
#wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 360px;
    height: 100%;
}

#container {
    flex-grow: 1;
    padding: 26px 39px;
}

.pc-hide {
    display: none !important;
}

.m-hide {
    display: block !important;
}

/* 리스트 유형1 */
.c-list1>ul {
    margin: 0;
    padding: 0;
}

.c-list1>ul>li {
    list-style: none;
}

.c-list1>ul>li+li {
    margin-top: 20px;
}

.c-list1 ul .item {
    display: flex;
    align-items: center;
    min-height: 191px;
    padding: 0 18px 0 24px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.c-list1 ul .item strong {
    display: block;
    margin-right: 10px;
    flex-grow: 1;
    font-size: 36px;
}

.c-list1 ul .item .state {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 250px;
    height: 96px;
    margin-right: 10%;
    border-radius: 15px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.c-list1 ul .item .state.state1 {
    background-color: #00D9E7;
}

.c-list1 ul .item .state.state2 {
    background-color: #20E700;
}

.c-list1 ul .item .state.state3 {
    background-color: #E70000;
}

.c-list1 ul .item .register {
    align-self: flex-end;
    flex-shrink: 0;
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 700;
}

.c-list1.type2 ul .item strong {
    flex-grow: 0;
    margin-right: 79px;
}

.c-list1.type2 ul .item .state {
    flex-grow: 1;
    margin-right: 58px;
}

/* 리스트 유형2 */
.c-list2>ul {
    margin: 0;
    padding: 0;
}

.c-list2>ul>li {
    list-style: none;
}

.c-list2>ul>li+li {
    margin-top: 20px;
}

.c-list2 ul .item {
    display: flex;
    align-items: center;
    min-height: 133px;
    padding: 0 56px 0 33px;
    border: 1px solid #c4c4c4;
    border-radius: 12px;
}

.c-list2 ul .item:hover {
    background: rgba(64, 71, 193, 0.18);
    border-color: rgba(64, 71, 193, 0.18);
}

.c-list2 ul .item .title {
    display: block;
    flex-grow: 1;
    font-size: 48px;
}

.c-list2 ul .item .user {
    padding-top: 60px;
    background: url('../img/icon-user.svg') no-repeat center top;
    font-size: 24px;
}


/* 리스트 유형3 */
.c-list3>ul {
    margin: 0;
    padding: 0;
}

.c-list3>ul .item {
    display: flex;
    align-items: center;
    min-height: 133px;
    padding: 0 33px;
    border: 1px solid #c4c4c4;
    border-radius: 12px;
    list-style: none;
}

.c-list3>ul>li+li {
    margin-top: 60px;
}

.c-list3 ul .item .title {
    flex-grow: 1;
    font-size: 36px;
    font-weight: 700;
}

.c-list3 ul .item .info {
    margin:0 0 0 52px;
    padding:0;
}

.c-list3 ul .item .info li {
    font-size: 24px;
    font-weight: 700;
    list-style: none;
}

.c-list3 ul .item .btn {
    min-height: 78px;
    border-radius: 8px;
    font-size: 38px;
}

/* 테이블 공통 */
table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

table caption {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

table col.m-hide {
    display: table-column !important;
}

table col.pc-hide {
    display: none !important;
}

/* 테이블 유형1 */
.c-table1 table thead th {
    padding: 22px 10px;
    border-bottom: 2px solid #e9e9e9;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.c-table1 table tbody th,
.c-table1 table tbody td {
    padding: 22px 10px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.c-table1 table .subject {
    text-align: left;
}

.c-table1 table .subject>a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-table1 th.m-hide,
.c-table1 td.m-hide {
    display:table-cell !important;
}


/* 하단 페이징 */
.paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}

.paging>a,
.paging .current {
    padding: 0 15px;
    font-size: 30px;
    font-weight: 700;
}

.paging .current {
    color: #4047c1;
}

/* ----------------------------------------------------------------------
    헤더
----------------------------------------------------------------------- */
#header .header-top {
    position: relative;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 55px 0 20px;
}

#header h1 {
    flex-grow: 1;
    margin: 0;
    font-size: 24px;
    color: #4047c1;
    font-weight: 700;
}

#header .header-top .name {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

#header .header-top .name span {
    margin-left: 15px;
    font-size: 18px;
}

#header .header-top ul {
    margin: 0 0 0 20px;
    padding: 0;
    display: flex;
}

#header .header-top ul li {
    list-style: none;
}

#header .header-top ul li+li {
    margin-left: 20px;
}

#header .header-top ul li a {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

#header .header-body {
    position: relative;
    display: flex;
    align-items: center;
    height: 69px;
    margin-top: 10px;
    padding: 0 10px 0 35px;
    border-bottom: 1px solid #C4C4C4;
}

#header .header-body .search-form {
    display: flex;
}

#header .header-body .search-form input {
    width: 230px;
    height: 40px;
    border-color: #666;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
}

#header .header-body .search-form button {
    width: 80px;
    height: 40px;
    background-color: #4047C1;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#header .header-body .mode {
    width: 57px;
    height: 57px;
    background: #4047C1 url('../img/icon-moon.svg') no-repeat center;
    border-radius: 50%;
}

#nav {
    flex-grow: 1;
    margin-right: 48px;
}

#nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#nav ul li {
    list-style: none;
}

#nav ul li+li {
    margin-left: 40px;
}

#nav ul li>a {
    font-size: 24px;
    font-weight: 700;
}

#nav ul li>a:hover,
#nav ul li.active>a {
    color: #4047c1;
}


/* ----------------------------------------------------------------------
    로그인
----------------------------------------------------------------------- */
#container.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}

#container.login.type2 {
    align-items: flex-start;
    height: auto;
    padding: 40px 0;
}

.login-wrap {
    width: 480px;
}

.login-wrap h1 {
    margin: 0;
    color: #4047C1;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.login-form {
    margin-top: 109px;
}

.login-form label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.login-form .input-wrap {
    margin-top: 12px;
}

.login-form .input-wrap+label {
    margin-top: 16px;
}

.login-form .input-wrap input {
    color: #c4c4c4;
}

.login-form .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-top: 14px;
    background-color: #4047C1;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.login-wrap .btn-find {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #A5A5A5;
    text-align: center;
}

.login-wrap .btn-join {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid #4047C1;
    border-radius: 4px;
    font-size: 18px;
    color: #4047C1;
    font-weight: 700;
}


/* ----------------------------------------------------------------------
    신청 완료
----------------------------------------------------------------------- */
.complete-application {
    margin-top: 12%;
}

.complete-application p {
    position: relative;
    padding: 76px 0;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.complete-application p::before,
.complete-application p::after {
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    height: 9px;
    background-color: rgba(64, 71, 193, 0.5);
}

.complete-application p::before {
    top: 0;
    left: -39px;
}

.complete-application p::after {
    bottom: 0;
    right: -39px;
}

.complete-application p br {
    display: none;
}

.complete-application .btn-wrap {
    margin-top: 220px;
}


/* ----------------------------------------------------------------------
    게시판
----------------------------------------------------------------------- */
/* 게시판 보기 */
.article-view h1 {
    margin: 0;
    padding: 30px 5px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 28px;
    font-weight: 400;
}

.article-view .info {
    padding: 17px 5px;
    font-size: 20px;
}

.article-view .info span+span {
    margin-left: 150px;
}

.article-view .contents {
    min-height: 500px;
    border: 1px solid #e1e1e1;
    padding: 15px;
}

.article-view .btn-wrap {
    margin-top: 27px;
}

/* 게시판 쓰기 */
.article-write .title input {
    height: 106px;
    padding: 0 33px;
    font-size: 28px;
}

.article-write .textarea-wrap {
    margin-top: 20px;
}

.article-write .textarea-wrap textarea {
    height: 540px;
    padding: 25px 33px;
    font-size: 25px;
}

.article-write .btn-wrap {
    margin-top: 27px;
}


/* ----------------------------------------------------------------------
    문제풀기
----------------------------------------------------------------------- */
.c-solve {
    display: flex;
}

.c-solve>div {
    flex: 1;
    min-height: 700px;
    padding: 26px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
    font-size: 36px;
    font-weight: 700;
}

.c-solve .question {
    margin-right: 38px;
}

.c-solve .question p:first-child {
    margin-top: 0;
}

.c-solve textarea.answer {
    flex:1;
    height: 700px;
    padding: 26px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 36px;
}

.c-solve-submit {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.c-solve-submit .time {
    font-size: 24px;
}

.c-solve-submit .time strong {
    margin-left: 10px;
    font-family: Coda;
    font-weight: 800;
}

.c-solve-submit .add-file label {
    font-size: 24px;
    margin-right: 10px;
}

.c-solve-result {
    margin-top: 40px;
    text-align: center;
}

.c-solve-result .title {
    font-size: 36px;
    font-weight: 800;
}

.c-solve-result .input-wrap {
    margin-top: 20px;
    font-size: 24px;
}

.c-solve-result .input-wrap input {
    width: 478px;
    height: 100px;
    padding: 0 30px;
    border-radius: 15px;
    font-size: 24px;
}

.c-solve-result .btn-wrap {
    margin-top: 40px;
}